html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.background-image {
  background-image: url('/img/librarybg02.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  height: 550px;
  z-index: -1;
}

.custom-background h1,
.custom-background p {
  font-weight: bold;
  color: brown;
  text-align: center;
}