@model LibraryManagement.Models.Customer

 <h2>Edit: @Model.FirstName @Model.LastName</h2>


<form asp-action="Edit" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <input type="hidden" asp-for="CustomerId" />

    <div class="row">
        <div class="col">
            <label asp-for="LastName"></label>
            <input asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>

        <div class="col">
            <label asp-for="FirstName"></label>
            <input asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label asp-for="Brithday"></label>
            <input asp-for="Brithday" class="form-control" />
            <span asp-validation-for="Brithday" class="text-danger"></span>
        </div>


        <div class="col">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>



    <div class="row">
        <div class="col">
            <label asp-for="Phone"></label>
            <input asp-for="Phone" class="form-control" />
            <span asp-validation-for="Phone" class="text-danger"></span>
        </div>


        <div class="col">
            <label asp-for="Address"></label>
            <input asp-for="Address" class="form-control" />
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>
    </div>


    <div class="row">
         <div class="col">
            <label asp-for="MembershipSince"></label>
            <input asp-for="MembershipSince" class="form-control" />
            <span asp-validation-for="MembershipSince" class="text-danger"></span>
        </div>
        
        <div class="col">
            <label class="mr-sm-2" for="inlineFormCustomSelect">Student?</label>
            <select asp-for="Student" class="custom-select mr-sm-2">
                <option value="True">Yes</option>
                <option value="False">No</option>
            </select>
        </div>
      
    </div>

    <br>
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Save</button>
         <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</form>
