@model LibraryManagement.ViewModel.BookViewModel

<h2>Edit: @Model.Title</h2>


<form asp-action="Edit" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <input type="hidden" asp-for="BookId" />
    <input type="hidden" asp-for="CreatedAt" />

    <div class="row">
        <div class="col">
            <label asp-for="Title"></label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>

        <div class="col">
            <label asp-for="ISBN"></label>
            <input asp-for="ISBN" class="form-control" />
            <span asp-validation-for="ISBN" class="text-danger"></span>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label asp-for="PublicationDate"></label>
            <input asp-for="PublicationDate" class="form-control" />
            <span asp-validation-for="PublicationDate" class="text-danger"></span>
        </div>
        <div class="col">
            <label asp-for="Genre"></label>
            <input asp-for="Genre" class="form-control" />
            <span asp-validation-for="Genre" class="text-danger"></span>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label asp-for="AuthorId"></label>
            @Html.DropDownListFor(model => model.AuthorId,
                     (IEnumerable<SelectListItem>)ViewBag.AuthorItems,
                     "Select Author",
                     new { @class = "form-control" })
            <span asp-validation-for="AuthorId" class="text-danger"></span>
        </div>

        <div class="col">
            <label asp-for="LibraryBranchId"></label>
            @Html.DropDownListFor(model => model.LibraryBranchId,
                     (IEnumerable<SelectListItem>)ViewBag.LibraryItems,
                     "Select Library Branch",
                     new { @class = "form-control" })
            <span asp-validation-for="LibraryBranchId" class="text-danger"></span>
        </div>
    </div>

    <br>
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Save</button>
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>

</form>
