@model LibraryManagement.Models.Author

<h2>Edit: @Model.FirstName @Model.LastName</h2>


<form asp-action="Edit" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <input type="hidden" asp-for="AuthorId" />

    <div class="row">
        <div class="col">
            <label asp-for="LastName"></label>
            <input asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>

        <div class="col">
            <label asp-for="FirstName"></label>
            <input asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
    </div>


    <div class="row">
        <div class="col">
            <label asp-for="BirthPlace"></label>
            <input asp-for="BirthPlace" class="form-control" />
            <span asp-validation-for="BirthPlace" class="text-danger"></span>
        </div>

         <div class="col">
            <label asp-for="NobelPrize"></label>
            <select asp-for="NobelPrize" class="form-control">
                <option value="True">Yes</option>
                <option value="False">No</option>
            </select>
        </div>
    </div>

    <br>
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Save</button>
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</form>
