@model LibraryManagement.Models.Book

<h2>Create Book</h2>

<form asp-controller="Book" asp-action="Create" method="post">

 <div class="row">
    <div class="col">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>

    </div>
    <div class="col">
        <label asp-for="ISBN"></label>
        <input asp-for="ISBN" class="form-control" />
        <span asp-validation-for="ISBN" class="text-danger"></span>
    </div>
 </div>


<div class="row">
    <div class="col">
        <label asp-for="PublicationDate"></label>
        <input asp-for="PublicationDate" class="form-control" />
        <span asp-validation-for="PublicationDate" class="text-danger"></span>
    </div>
    
    <div class="col">
        <label asp-for="Genre"></label>
        <input asp-for="Genre" class="form-control" />
    </div>
</div>

<div class="row">
    <div class="col">
        <label asp-for="AuthorId"></label>
        <input asp-for="AuthorId" class="form-control" />
    </div>
    <div class="col">
        <label asp-for="LibraryBranchId"></label>
        <input asp-for="LibraryBranchId" class="form-control" />
    </div>
</div>
<br>

  <div class="col-12">
    <button type="submit" class="btn btn-primary">Create</button>
    <button type="reset" class="btn btn-warning">Clear</button>
  </div>
</form>