@model LibraryManagement.ViewModel.BookViewModel

<h2>@Model.Title</h2>


<input type="hidden" asp-for="BookId" />
<div class="row">
    <div class="col">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" readonly />
    </div>

    <div class="col">
        <label asp-for="ISBN"></label>
        <input asp-for="ISBN" class="form-control" readonly />
    </div>
</div>

<div class="row">
    <div class="col">
        <label asp-for="PublicationDate"></label>
        <input asp-for="PublicationDate" class="form-control" readonly />
    </div>
    <div class="col">
        <label asp-for="Genre"></label>
        <input asp-for="Genre" class="form-control" readonly />
    </div>
</div>

<div class="row">
    <div class="col">
        <label asp-for="AuthorId"></label>
        @Html.DropDownListFor(model => model.AuthorId,
                 (IEnumerable<SelectListItem>)ViewBag.AuthorItems,
                 "Select Author",
                 new { @class = "form-control", disabled = "disabled" })
    </div>

    <div class="col">
        <label asp-for="LibraryBranchId"></label>
        @Html.DropDownListFor(model => model.LibraryBranchId,
                 (IEnumerable<SelectListItem>)ViewBag.LibraryItems,
                 "Select Library Branch",
                 new { @class = "form-control", disabled = "disabled" })
    </div>
</div>


<div class="row">
    <div class="col">
        <label>Created:</label>
        <input asp-for="CreatedAt" class="form-control" readonly />
    </div>

    <div class="col">
        <label>Last Update:</label>
        <input asp-for="UpdatedAt" class="form-control" readonly />
    </div>
</div>

<br>
<div class="col-12">
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
