<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Library Management</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LibraryManagement.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

</head>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">LibraryManagement</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                @if (SignInManager.IsSignedIn(User))
                {
                    <a class="btn btn-danger" asp-area="" asp-controller="Home" asp-action="ErrorTest">Create a Error!</a>

 

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">Book</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Book" asp-action="Index">List</a>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Book" asp-action="Create">Create</a>
                        </div>
                    </li>
                }
                else
                {
                    <a class="nav-link" role="button" aria-expanded="false" style="cursor:no-drop;">Book</a>
                }


                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">Author</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Author" asp-action="Index">List</a>
                        <a class="nav-link text-dark" asp-area="" asp-controller="Author" asp-action="Create">Create</a>
                    </div>
                </li>


                @if (SignInManager.IsSignedIn(User))
                {

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">Customer</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Customer" asp-action="Index">List</a>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Customer"
                                asp-action="Create">Create</a>
                        </div>
                    </li>
                }

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">Library Branch</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="nav-link text-dark" asp-area="" asp-controller="LibraryBranch"
                            asp-action="Index">List</a>
                        <a class="nav-link text-dark" asp-area="" asp-controller="LibraryBranch"
                            asp-action="Create">Create</a>
                    </div>
                </li>

                @if (SignInManager.IsSignedIn(User))
                {

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">User Profile</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="nav-link text-dark" href="/Identity/Account/Manage/Email">Change eMail</a>
                            <a class="nav-link text-dark" href="/Identity/Account/Manage/SetPassword">Change Password</a>

                        </div>
                    </li>
                }


                <partial name="_LoginPartial" />
            </ul>




            <form class="form-inline my-2 my-lg-0" asp-controller="Home" asp-action="Search" method="get">
                <input class="form-control mr-sm-2" type="search" name="searchBook" placeholder="Book name"
                    aria-label="Search" required>
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>

        </div>
    </nav>


    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">&copy; 2023 - LibraryProject</div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>