@model LibraryManagement.ViewModel.LibraryBranchViewModel

<h2>Create Library Branch</h2>

<form asp-controller="LibraryBranch" asp-action="Create" method="post">

    <div class="row">
        <div class="col">
            <label asp-for="BranchName"></label>
            <input asp-for="BranchName" class="form-control" />
            <span asp-validation-for="BranchName" class="text-danger"></span>
        </div>

        <div class="col">
            <label asp-for="ZipCode"></label>
            <input asp-for="ZipCode" class="form-control" />
            <span asp-validation-for="ZipCode" class="text-danger"></span>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label asp-for="Address"></label>
            <input asp-for="Address" class="form-control" />
            <span asp-validation-for="Address" class="text-danger"></span>

        </div>
        <div class="col">
            <label asp-for="Phone"></label>
            <input asp-for="Phone" class="form-control" />
            <span asp-validation-for="Phone" class="text-danger"></span>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label asp-for="City"></label>
            <input asp-for="City" class="form-control" />
            <span asp-validation-for="City" class="text-danger"></span>

        </div>

        <div class="col">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>

        </div>
    </div>


    <div class="row">
        <div class="col">
            <label asp-for="OpeningHours"></label>
            <input asp-for="OpeningHours" class="form-control" />
            <span asp-validation-for="OpeningHours" class="text-danger"></span>
        </div>
    </div>


    <br>

    <div class="col-12">
        <button type="submit" class="btn btn-primary">Create</button>
        <button type="reset" class="btn btn-warning">Clear</button>
    </div>
</form>