@{
    ViewData["Title"] = "Home Page";
}


<div class="container-fluid background-image">
    <div class="container custom-background">
        <h1>Library Management System</h1>
        <p>This is a small CRUD project</p>
    </div>
</div>